<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119244087032-pipc2cu92q7v9g5q4684fs9qvmmrlavf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119244087032-pipc2cu92q7v9g5q4684fs9qvmmrlavf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119244087032-82a6ds7ijluf8bqpasmnr413nb973vfp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxU_8gUadciQHk4XSaLmnAG11LTsrvoXU</string>
	<key>GCM_SENDER_ID</key>
	<string>119244087032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.genie.app</string>
	<key>PROJECT_ID</key>
	<string>genie-8f289</string>
	<key>STORAGE_BUCKET</key>
	<string>genie-8f289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119244087032:ios:8235d0b7b7136f3ec1250d</string>
</dict>
</plist>